[user]
	name = Joel Douglass
	email = joel.douglass@velir.com
[alias]
	graph = log --decorate --abbrev-commit --oneline --graph
[difftool]
	prompt = false
[core]
	visual = vim
	editor = vim
	autocrlf = false
	longpaths = true
[push]
	default = matching
[mergetool]
	keepBackup = false
[oh-my-zsh]
	hide-dirty = 1
