[user]
  name = Joel Douglass
  email = joel.douglass@velir.com
[alias]
  graph = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen(%ad)%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=local
  co = checkout
  ci = commit
  st = status
  fe = fetch
  rb = rebase
  dif= difftool --dir-diff
[core]
  visual = vim
  editor = vim
  autocrlf = false
  longpaths = true
[push]
  default = matching
[merge]
  tool = bc3
[mergetool]
  tool = bc3
  keepBackup = false
[oh-my-zsh]
  hide-dirty = 1
[diff "sopsdiffer"]
	textconv = sops -d
[diff]
	tool = bc3
